.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 1rem;
  padding: 30px;
  width: 20rem;
  margin: 2rem 0;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
  cursor: crosshair;
}

.dashboard div {
  margin-top: 0.5rem;
}
